* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Monospaced, 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

a:link {
    text-decoration: none;
}

.right-side {
    position: fixed;
}


.footer {
    height: 100px;
    background-color: deepskyblue;
    text-align: center;
    margin-bottom: -20;
    padding: 30px;
    display: block;
    overflow: auto;
    margin-top: 20px;
}

.navbar-color {
    background-color: lightgreen;
    border-width: 0px;
}

.self-profile img {
    width: 150px;
    height: 150px;
}

.contact-logos {
    padding-left: 0;

}

.contact-logo {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

.contact-logo img {
    width: 25px;
    height: 25px;
}

.contact-logo a {
    text-decoration: none;
}

.recent-posts {
    padding-left: 0;
}
.recent-post {
    list-style-type: none;
    padding: 5px 0;
}

.post-head h3 {
    display: inline;
}

p.post-favor-block {
    text-align: right;
}

.posts {
    list-style-type: none;
}

.posts_container {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

/* for every post */
.post {
    word-spacing: 1em;
    letter-spacing: 2px;
    line-height: 2em;
}

.post p {
    text-indent: 2em;
}

.delete-post.a {
    text-decoration: none;
}

.machine_statistic td {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-collapse: collapse;
}