<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="posts_container">
                <ul class="posts">
                    {% for post in posts %}
                        <div class="post_roll">
                        <li class="post">
                            <div class="post-thumbnail post-head" style="display: inline-block;">
                                <a href={{ url_for('main.user_profile', username=current_user.username) }}>
                                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                                </a>
                                <a href="{{ url_for('main.post', id=post.id) }}"><h3>{{ post.title }}</h3></a>
                            </div>
                            <div class="post-timestamp" style="float: right;">
                                        <span class="label label-default">
                                            {{ moment(post.timestamp).format('LLLL') }}
                                        </span>
                            </div>
                            <br />
                            <div class="post-title">

                            </div>
                            <div class="post-author">
                                {% if post.body_html %}
                                <div class="post-body">{{ post.body_html | safe }}</div>
                                {% else %}
                                <div class="post-body">{{ post.body }}</div>
                                {% endif %}
                                <br />

                                <ul class="list-inline post-info">
                                    <li class="post-author">
                                        <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                                            <span class="label label-default">
                                                {{ post.author.username }}
                                            </span>
                                        </a>
                                    </li>

                                        {% if post.category %}
                                        <li class="post-category">
                                            <span class="label label-info">
                                                <a href="{{ url_for('main.category') }}">{{ post.category.name }}</a>
                                            </span>
                                        </li>
                                        {% endif %}

                                        <li class="post-view">
                                            <span class="label label-primary">
                                                {{ post.view_count }} 浏览
                                            </span>
                                        </li>

                                        <li class="post-comment">
                                            <span class="label label-primary">
                                                {{ post.comments.count() }} 评论
                                            </span>
                                        </li>

                                        <li class="post-favor">
                                                <span class="label label-success">
                                                    {{ post.favor }} 赞
                                                </span>
                                        </li>

                                        {% if current_user.username == post.author.username %}
                                        <li class="post-delete" id="{{ post.id }}" onclick="return del_post()">
                                                <a href="{{ url_for('main.delete', id=post.id) }}">
                                                <span class="label label-danger">
                                                    删除
                                                </span>
                                                </a>
                                        </li>
                                        {% endif %}


                                </ul>


                            </div>
                        </li>
                        </div>
                        <hr />
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>