{% extends "bootstrap/base.html" %}
    {% block title %}
        ChiHu-
    {% endblock %}
    
    {% block head %}
        {{ super() }}
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='chihu.ico') }}" type="image/x-icon" />
        <link rel="icon" href="{{ url_for('static', filename='chihu.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.0.0.min.js') }}"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $(".post-favor").click(function(){
                $.post("{{ url_for('main.post_favor') }}", {
                    post_id: 9
                },
                function (data, status) {
                    console.log(data)
                    $(".post-favor span").html(data.post_favor + ' 赞')
                });
            });
        });
        </script>

    {% endblock %}

    {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" 
                        data-toggle="collapse" data-target=
                        ".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span
                    </button>
                    <a class="navbar-brand" href="/">Chihu</a>
                </div>

                <div class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    {% if not current_user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href={{ url_for('main.download') }}>About Me</a></li>
                    </ul>
                    {% endif %}

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if current_user.is_authenticated %}
                                   <img src={{ current_user.gravatar() }}/>
                                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ current_user.username }}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href={{ url_for('main.user_profile', username=current_user.username) }}>资料</a></li>
                                    <li><a href={{ url_for('auth.update_profile') }}>设置</a></li>
                                    <li><a href={{ url_for('auth.logout', _external=True) }} >注销</a></li>
                                </ul>
                            {% else %}
                                    <li><a href={{ url_for('auth.login') }}>Login</a></li>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
        
    {% block content %}
        <div class="container-message">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">*</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        <div class="header">
            {% block page_header %}
            {% endblock %}
        </div>
        <div class="container">
        <div class="row">
             <div class="col-sm-9">
            {% block page_content %}
            {% endblock %}
            </div>

             <div class="col-sm-3">
                 <div class="self-profile">
                     <h4>关于作者</h4>
                    <img src="{{ url_for('static', filename='image/blue_sky.jpg') }}" />
                     <span><h4>yelongyu</h4><span>
                    <p>新手程序员，跑步爱好者。</p>
                         <ul class="contact-logos">
                             <li class="contact-logo">
                                 <a href="http://www.weibo.com/yelongyu" target="_blank" title="微博">
                                    <img src="{{ url_for('static', filename='image/logos/weibo.png') }}" />
                                 </a>
                             </li>
                             <li class="contact-logo">
                                 <a href="tencent://message/?uin=522712829&Site=&Menu=yes" target="_blank" title="QQ">
                                    <img src="{{ url_for('static', filename='image/logos/qq.png') }}" />
                                 </a>
                             </li>
                             <li class="contact-logo">
                                 <a href="https://github.com/yelongyu" target="_blank" title="Github">
                                    <img src="{{ url_for('static', filename='image/logos/github.png') }}" />
                                 </a>
                             </li>

                             <li class="contact-logo">
                                 <a href="mailto:yelongyu1024@gmail.com" target="_blank" title="E-Mail">
                                    <img src="{{ url_for('static', filename='image/logos/email.png') }}" />
                                 </a>
                             </li>
                         </ul>
                         <hr />
                         To be a programmer.
                         <hr />
                 </div>

                 <div class="recent-post-container">
                    <h3>最近文章</h3>
                     <ul class="recent-posts">
                         {% for post in recent_posts %}
                             <li class="recent-post">
                                <a href="{{ url_for('main.post', id=post.id) }}">
                                    {{ post.title }}
                                </a>
                            </li>
                         {% endfor %}
                     </ul>
                     <hr />
                 </div>

                 <div class="post-tags">
                     <h3>Tags</h3>
                     <ul>
                        <li></li>
                     </ul>
                 </div>
             </div>
        </div>
        </div>

        <div class="footer">
            <span>yelongyu @ 2016</span>
        </div>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
    {% endblock %}
