{% extends 'base.html' %}
{% block head %}
    {{ super() }}
<script>
    function fresh_click() {
        count_str = document.getElementById("click_count").innerHTML;
        new_count = (parseInt(count_str) + 1).toString()
        document.getElementById("click_count").innerHTML = new_count;
        document.getElementById("click_count").setAttribute("title", new_count + "次下载");
    }
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="page-header">
                <h3 style="text-align: center;">失业求职中，求勾搭~</h3>
                </div>
                <a href="{{ url_for('main.download_file', filename='my_resume.pdf') }}" download="叶龙宇_Python_Web.pdf">简历点这里
                <span id="click_count" class="badge badge-notifications clicks" title="{{ count }} 次下载" onclick="fresh_click()">{{ count }}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

