{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}
    {{ super() }}Index
{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        function del_post() {
            if (confirm('确定删除吗？') == true) {
                return true;
            } else {
                window.location = '/';
                console.log('location:' + window.location);
                return false;
            }
        }
    </script>
{% endblock %}

{% block page_header %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    {{ super() }}
    {% if current_user.is_authenticated %}
    <div> 
    {{ wtf.quick_form(form) }}
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
                {% include '_posts.html' %}
        </div>
        <div class="row align-center">
            <div class="col-md-9 col-md-offset-1">
                    {% if pagination %}
                    <div class="pagination pagination_outer">
                        {{ macros.pagination_widget(pagination, 'main.index') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="test">
        <a href="{{ url_for('main.machine') }}">machine statistic</a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}