{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }}Index
{% endblock %}

{% block page_content %}
    {{ super() }}

    <div class="container">
        <div class="page-header">
           <h1>welcome to ChiHu.</h1>
           <h2>
            <p>hello, {% if known %}{{ name }}.{% else %}stranger.{% endif %}</p>
           </h2>
        </div>
    </div>
   
    <div> 
    {{ wtf.quick_form(form) }}
    </div>

    {% for user in users %}
        <ul>
            <li><h2>{{ user.username|safe }}</h2></li>
            <li><h2>{{ user.message }}</h2></li>
        </ul>
    {% endfor %}

{% endblock %}
