{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <div class="post" style="width: 798px;">
                        <div class="post-title">
                            <h3>{{ post.title }}</h3>
                        </div>

                        <div class="post-body">
                            {% if post.body_html %}
                                {{ post.body_html | safe }}
                            {% else %}
                                {{ post.body }}
                            {% endif %}
                        </div>

                        <div class="post-info">
                            <br />
                            <p>
                                <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                                {{ post.author.username }}
                                </a>
                                {{ moment(post.timestamp).format('LLLL') }}

                                &nbsp;&nbsp; <span class="badge">{{ post.view_count }}</span> 浏览
                                <span class="post-favor-block">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{ post.favor }}</span> <span class="post-favor">赞</span>
                                </span>
                                <span>
                                    {% if current_user.username == post.author.username %}
                                    <a class='btn btn-danger' href="{{ url_for('main.delete', id=post.id) }}">
                                    delete</a>
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="comments">
                    <bold>共{{ post.comments.count() }}条评论</bold>
                    <hr>
                        {% for comment in comments %}
                            <ul style="list-style-type: none;">
                                <li>
                                # {{ loop.index }} 楼
                                <div class="comment-author" style="display: inline;">
                                {% if comment.author.username != 'Anonymous' %}
                                    <a href="{{ url_for('main.post', id=comment.post.id) }}">
                                        {{ comment.author.username }}
                                    </a>
                                {% else %}
                                    {{ comment.author.username }}
                                {% endif %}
                                </div>
                                <div class="comment-time" style="float: right;">
                                    <span class="align-right">{{ moment(comment.timestamp).format('LLLL') }}</span>
                                </div>
                                <div class="comment-body">
                                    <p>{{ comment.body }}</p>
                                </div>
                                </li>

                            </ul>
                            <hr>
                        {% endfor %}

                        <div class="pagination">
                            {{ macros.pagination_widget(pagination, 'main.index') }}
                        </div>
                    </div>

                    {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}