{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        .profile_pic {
            margin: 10px;
        }
    </style>
{% endblock %}

{% block title %}
    {{ super() }}{{ user.username }}
{% endblock %}

{% block content %}
    {% if user == current_user or True %}
    <div class="container">
        <div class="profile">
            <div class="page-header">
            <h1 style="text-align: center;">欢迎回来, {{ user.username }}.</h1>
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                {% if user == current_user %}
                    <a class="btn btn-info" href="{{ url_for('main.edit_profile') }}">编辑资料</a>
                {% endif %}
                </div>
                 <div class="btn-group" role="group">
                    {% if user.can(Permission.FOLLOW) %}
                        <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">编辑资料[管理员]</a>
                    {% endif %}
                </div>
                <div class="btn-group" role="group">
                    <a class="btn btn-success" href="{{ url_for('main.create_category') }}">新增分类</a>
                </div>
            </div>

            <div class="profile_container">
                <div class="profile_pic" style="float: left;">
                    <img src={{ user.gravatar(size=256) }} />
                </div>
                <div class="profile">
                    <ul>
                        <hr />
                        {% if user.name or user.location %}
                            <li>
                            <p>
                            <bold>真实姓名:  </bold> {% if user.realname %}{{ user.realname }}{% endif %}
                            </p>
                            <hr />
                            <p>
                            </li>
                            <li>
                            {% if user.location %}
                                <bold>城市:  </bold><a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
                            {% else %}
                                <form method="post" action="{{ url_for('main.modify_city') }}">
                                    <input name="city" type="text" />
                                    <input type="submit" value="更新位置"/>
                                </form>
                                <hr>
                            {% endif %}
                            </p>
                            </li>
                            <hr />
                        {% endif %}
                        {% if current_user.is_administrator() %}
                            <li>
                            <p>
                                <bold>邮箱:  </bold><a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </p>
                            </li>
                        {% else %}
                            <li>
                            <p>
                                <bold>邮箱:  </bold><a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </p>
                            </li>
                        {% endif %}
                            <hr>
                        {% if user.about_me %}
                            <li>
                            <p>
                                <bold>一句话介绍:  </bold>{{ user.about_me }}
                            </p>
                            </li>
                        {% else %}
                            <p><bold>一句话介绍:  </bold>say something...<p>
                        {% endif %}
                        <hr />
                        <li>
                            <p>
                            <bold>注册时间: </bold>{{ moment(user.member_since).format('L') }}.
                            </p>
                        </li>
                        <li>
                            <hr />
                            <p>
                            <bold>上次登录: </bold>{{ moment(user.last_seen).fromNow() }}.
                            </p>
                            <hr />
                        </li>
                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                            {% if not current_user.is_following(user) %}
                                <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-primary">
                                关注
                                </a>
                            {% else %}
                                <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">
                                取消关注
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="{{ url_for('main.followers', username=user.username) }}">
                            关注者: <span class="badge">{{ user.followers.count() }}</span>
                        </a>
                        <a href="{{ url_for('main.followed_by', username=username) }}">
                            正在关注: <span class="badge">{{ user.followed.count() }}</span>
                        </a>

                        {% if current_user.is_authenticated and user != current_user and
                                user.is_following(current_user) %}
                            | <span class="label label-default">Follows you</span>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="user_posts">
        <div class="page-header">
            <h3></h3>
        </div>
        <div>
            {% include '_posts.html' %}
        </div>
    </div>
    {% endif %}
{% endblock %}
